<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        <div class="top-line"></div>
        <div class="container">
            <aside class="sidebar-left">
                {{ partial "site-title.html" . }}
                {{ partial "navigation.html" . }}
            </aside>
            
            <main class="content">
                {{ block "main" . }}{{ end }}
            </main>
            
            <aside class="sidebar-right">
                {{ partial "social-links.html" . }}
            </aside>
        </div>
        <script src="{{ "js/colors.js" | relURL }}"></script>
    </body>
</html>

