{{ define "main" }}

<main>
    {{ if eq .Type "posts" }}
        {{ partial "toc.html" . }}
    {{ end }}

    <div class="post">
        {{ if eq .Type "posts" }}
            <div class="post-info">
                <span>Written by </span>
                {{- if .Params.Author }}
                    {{ .Params.Author }}
                {{- else }}
                    {{ .Site.Params.Author.name }}
                {{- end }}

                {{- if .PublishDate }}
                    <br>
                    <span>on </span><time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
                {{- end }}
            </div>
        {{ end }}

        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-line"></div>

        {{ if eq .Type "posts" }}
            {{ if .Params.tags }}
            <div class="post-tags">
                {{ range .Params.tags }}
                <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="post-tag">{{ strings.FirstUpper . }}</a>
                {{ end }}
            </div>
            {{ end }}
        {{ end }}

        {{ .Content }}
    </div>

    {{ if eq .Type "posts" }}
    <div class="pagination">
        {{- if .Page.Prev }}
        <a href="{{ .Page.Prev.RelPermalink }}" class="left arrow">&#8592;</a>
        {{- end }}
        {{- if .Page.Next }}
        <a href="{{ .Page.Next.RelPermalink }}" class="right arrow">&#8594;</a>
        {{- end }}

        <a href="#" class="top">Top</a>
    </div>
    {{ end }}
</main>

{{ end }} 