{{ define "main" }}

<main>
    {{ if eq .Type "post" }}
        {{ partial "toc.html" . }}
    {{ end }}

    <div class="post">
        {{ if eq .Type "post" }}
            {{ partial "single/post-info.html" . }}
        {{ end }}
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-line"></div>
        {{ if eq .Type "post" }}
            {{ partial "single/tags.html" . }}
        {{ end }}

        {{ partial "single/header.html" . }}

        {{ .Content }}

        {{ partial "single/footer.html" . }}
    </div>

    {{ if eq .Type "post" }}
    <div class="pagination">
        {{- if .Page.Prev }}
        <a href="{{ .Page.Prev.RelPermalink }}" class="left arrow">&#8592;</a>
        {{- end }}
        {{- if .Page.Next }}
        <a href="{{ .Page.Next.RelPermalink }}" class="right arrow">&#8594;</a>
        {{- end }}

        <a href="#" class="top">Top</a>
    </div>
    {{ end }}
</main>

{{ end }} 