<a href="{{ .Permalink }}" class="catalogue-item">
    <div>
        <time datetime="{{ .PublishDate }}" class="catalogue-time">{{ .Date.Format "Jan 02, 2006" }}</time>
        <h2 class="catalogue-title">{{ .Title }}</h2>
        <div class="catalogue-line"></div>

        <p>
            {{ if isset .Params "summary" }}
                {{ .Params.Summary | markdownify }}
            {{ else }}
                {{ with .Summary }}
                    {{ $firstParagraph := index (findRE "<p>.*?</p>" . 1) 0 }}
                    {{ if $firstParagraph }}
                        {{ $firstParagraph | safeHTML }}
                    {{ else }}
                        {{ . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </p>
    </div>
</a> 