{{ define "main" }}
<main>
    <div class="post">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-line"></div>
    </div>

    <div class="tags-list">
        {{ range .Site.Taxonomies.tags }}
        <div class="tag-section">
            <h2 class="tag-title">{{ .Page.Title }}</h2>
            <div class="tag-posts">
                {{ range .Pages }}
                <div class="tag-post">
                    <time datetime="{{ .PublishDate }}" class="post-date">{{ i18n "publishdate" . }}</time>
                    <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</main>
{{ end }} 