<div class="front-page-summary">
    <p>
        Hey, I'm <a href="/about">Ryan Kerry</a> - a technology executive and most recently the VP of Infrastructure at <a href="https://www.eslfaceitgroup.com/" target="_blank" rel="noopener">ESL FACEIT Group</a>. I've led global teams at <a href="https://unity.com" target="_blank" rel="noopener">Unity</a>, <a href="https://www.lush.com" target="_blank" rel="noopener">Lush</a>, amongst others, advise companies on scaling and strategy, and invest in the future of technology, AI, and sustainable innovation.
    </p>
</div> 