{{ define "main" }}

<main>
	<div class="catalogue">
		{{ $posts := where .Site.RegularPages "Section" "posts" }}
		{{ $paginator := .Paginate $posts .Site.Params.paginate }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

	<div class="pagination">
		{{ if $paginator.HasPrev }}
			<a href="{{ $paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if $paginator.HasNext }}
			<a href="{{ $paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

		<span>Page {{ $paginator.PageNumber }} of {{ $paginator.TotalPages }}</span>
	</div>
</main>

{{ end }} 