{{ define "main" }}

<main>
	<div class="front-page-intro">
		<div class="profile-image">
			{{ $image := resources.Get "images/1594714178097.jpeg" }}
			{{ if $image }}
				<img src="{{ $image.RelPermalink }}" alt="Ryan Kerry" class="circular-image">
			{{ else }}
				<img src="/images/1594714178097.jpeg" alt="Ryan Kerry" class="circular-image">
			{{ end }}
		</div>
		<div class="profile-summary">
			{{ partial "front-page-summary.html" . }}
		</div>
	</div>

	<div class="catalogue">
		{{ $posts := where .Site.RegularPages "Section" "posts" }}
		{{ $paginator := .Paginate $posts .Site.Params.paginate }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

	<div class="pagination">
		{{ partial "pagination.html" . }}
	</div>
</main>

{{ end }} 