<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{ partial "head.html" . }}
    <body>
        <div class="top-line"></div>
        <div class="container">
            <aside class="sidebar-left">
                {{ partial "site-title.html" . }}
                {{ partial "navigation.html" . }}
            </aside>
            
            <main class="content">
                <div class="post">
                    <h1 class="post-title">404</h1>
                    <div class="post-content">
                        <p>Sorry, the page you're looking for can't be found.</p>
                        <p><a href="{{ "/" | relURL }}">Go back home</a></p>
                    </div>
                </div>
            </main>
            
            <aside class="sidebar-right">
                {{ partial "social-links.html" . }}
            </aside>
        </div>
    </body>
</html>

